<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapid-Api</title>
</head>
<body>
    <h3 id="quote"></h3>
    <small id="author"></small>

    <script>
        const options = {
                method: 'GET',
                headers: {
                    'X-RapidAPI-Key': '13a3fdc433mshc472900b88d594cp11dce7jsnadce2b996b30',
                    'X-RapidAPI-Host': 'ai-quote3.p.rapidapi.com'
                }
            };

            fetch('https://ai-quote3.p.rapidapi.com/ai-quotes', options)
                .then(response => response.json())
                // .then(response => console.log(response))
                .then(response => {
                    document.getElementById('quote').innerHTML = response.quote;
                    document.getElementById('author').innerHTML = response.author;
                })
                .catch(err => console.error(err));
    </script>
</body>
</html>